<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/landing">Bloc Chat</a>
        </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class ="nav navbar-nav">
            <li><a ng-click="landing.open()">Create Room</a></li>
        </ul>
      </div>
    </div>
</nav>

<h3> Available Chats </h3>
<ul class="nav nav-pills navlist">
    <li ng-repeat="room in landing.rooms" ><a href="#" ng-click="landing.setCurrentRoom(room)">{{ room.name }}</a></li>
</ul>

<div ng-if="!landing.currentRoom">
    <h3>Select a chat room</h3>
</div>

<div ng-if="landing.currentRoom" class="messages">
    <div class="messages-header">
        <h3> Current Chat: {{ landing.currentRoom.name }}</h3>
    </div>
    <div class="messages-body" ng-repeat="message in landing.messages">
        <div class="timestamp">{{ message.sentAt | date : "shortTime" }}</div>
        <div class="user-message">{{message.username || "Anonymous"}}:
            {{ message.content }}</div>
    </div>
    <div class="message-field">
        <input type="text" name="input" placeholder="Message.." class="message-box" ng-model="landing.newMessage.content" style="width:500px;">
        <button class="btn-new-message" type="button" ng-click="landing.sendMessage()">Send message</button>
    </div>
</div>
